body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #666;
}

.calculadora {
  width: 555px;
  margin: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#Pantalla {
  width: 90%;
  padding: 15px 20px; 
  font-size: 24px; 
  margin-bottom: 10px;
  text-align: right;

  border: 1px solid #ddd;
  border-radius: 25px; 
  outline: none;
  background-color: #fff;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #f5f5f5; 
  color: #333; 
  border: none;
  border-radius: 9999px; 
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

input[type="button"]:hover {
  background-color: #e0e0e0; 
}

input[type="button"]:last-child {
  margin-right: 0;
}

.calculadora .boton-operadores {
  background-color: #e8f0fe; 
  color: #1967d2;
}

.calculadora .boton-igual {
  background-color: #1a73e8; 
  color: white;
}


input.operator:hover {
  background-color: #d2e3fc; 
}



.contenedor-principal {
  display: flex;
  justify-content: center;  
  align-items: flex-start;  
  gap: 30px;                
  margin-top: 30px;
}


.history__box {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  min-height: 175.219px;
  width: 280px;
  background-color: #e6eaef;
  padding: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 18px rgba(251, 251, 251, 0.4);
  transition: max-height 0.5s ease;
  animation: appear-scale-element 2s ease;
}

.historial-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.boton-eliminar {
  background-color: #e74c3c;
}

.boton-copiar {
  background-color: #2ecc71;
}

